@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 29% 97%;
    --foreground: 0 0% 3.9%;

    --card: 45 29% 97%;
    --card-foreground: 0 0% 3.9%;

    --popover: 45 29% 97%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 45 29% 97%;

    --card: 0 0% 3.9%;
    --card-foreground: 45 29% 97%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 45 29% 97%;

    --primary: 45 29% 97%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 45 29% 97%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 45 29% 97%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 45 29% 97%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply overflow-x-hidden bg-gradient-to-br from-background via-background/50 to-background text-foreground;
  }
}

@layer components {
  .p {
    @apply p-4 md:p-6 xl:p-8;
  }
  .space {
    @apply mt-[10vh] xl:mt-[20vh];
  }
  .space-below {
    @apply mb-[10vh] xl:mb-[20vh];
  }
  .gap {
    @apply gap-4 md:gap-6 xl:gap-8;
  }
  .text {
    @apply text-sm lg:text-lg;
  }
  .text-strong {
    @apply text-sm font-medium lg:text-lg;
  }
  .icon {
    @apply absolute h-full w-1/2 translate-x-1/4 translate-y-1/4;
  }
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

*::selection {
  background-color: hsl(var(--foreground));
  color: hsl(var(--background));
}
